/* .container {
    margin-left: 15%;
    margin-right: 15%;
} */

.img-banner {
    width: 1200px;
}

.img-icon {
    width: 40px;
    height: 40px;
    padding: 10px;
}

.title {
    display: flex;
    align-items: center;
    height: 50px;
    margin-top: 10px;
}

.img-product {
    height: 150px;
    padding: 10px;
}

.product {
    border-radius: 5px;
    border: 0.2px solid rgba(238, 206, 206, 0.87);
    margin-top: 10px;
    padding: 10px;
}

.product a {
  text-decoration: none;
}

/* .product:hover {
    background-color: blue;
    border-radius: 5px;
} */

.product a h5{
    color: black;
}

.product a h5:hover{
    color: blue;
}

.price-product {
    font-size: 15px;
    color: red;
}

.Footer { 
    background-color: white;
    padding: 10px;
    margin-left: 15%;
    margin-right: 15%;
}

.phone-number{
    margin-left: 10px;
    color: blue;
}