

.input-number{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border-width: 0.1px;
    border-color: blueviolet;
}

.item-cart{
    margin-top: 10px;
    padding: 10px;
}

.payment{
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 15%;
    margin-right: 15%;
}

.checkbox{
    margin: 10px;
}