.menu {
    background-color: rgb(209, 184, 41);
}

.menu-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    /* margin-right: 10px; */
    padding: 10px;
   
}

.menu-item a {
    text-decoration: none;
    color: white;
    display: block;
}

.menu-item a:hover {
    color: rgb(231, 143, 143);

}


.menu-item:hover .submenu{
    display: block;
    background-color: #777;
    position: absolute;
    padding: 10px;
    margin-top: 10px;

}

Hiển thị submenu khi hover vào menu-item
.menu-item:hover .submenu {
    display: block;
  }

.submenu{
    display: none;
    text-decoration: none;
    list-style: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

